.about-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cv-download-btn {
    background-color: #28a745; /* Professional blue */
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 4px 12px rgba(11, 60, 7, 0.2);
    transition: all 0.3s ease-in-out;
}

.cv-download-btn:hover {
    background-color: #2a9741;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(11, 60, 7, 0.2);
    color: #fff;
    text-decoration: none;
}

.work-experience{
    margin-top: 20px;
}
.work-experience-pos-status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-experience-pos-status .status-active{
    background-color: #b3fabd;
    padding: 4px 12px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    color: #174e1b; /* Dark green text */
    box-shadow: 0 2px 6px rgba(27, 94, 32, 0.2);
    display: inline-block;
}

.work-experience-info-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-experience-info{
    font-size: 10px;
}

.education {
    margin-top: 2rem;
}

.education-pos-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.education-pos-status .status-active {
    background-color: #b3fabd;
    padding: 4px 12px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    color: #174e1b; /* Dark green text */
    box-shadow: 0 2px 6px rgba(27, 94, 32, 0.2);
    display: inline-block;
}

.education-info-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

.education-info {
    font-size: 10px;
}
