.skills-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills-icons a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.skills-image img {
    width: 100%;
    height: auto;
}
